.entry {
  margin-bottom: 69px;
  margin-left: 8.7vw;
  margin-right: 14.6vw;
  color: #000;

  .title::before {
    display: inline-block;
    content: "";
    width: 7px;
    height: 36px;
    background-color: #9a66f5;
    margin-right: 14px;
  }

  .title {
    font-weight: 500;
    font-size: 37px;
    line-height: 1.24;
    margin-bottom: 9px;
  }

  .content {
    font-size: 18px;
    line-height: 1.45;

    strong {
      color: #6002ee;
    }
  }

  & > img {
    max-width: 258px;
  }
}

@media screen and (max-width: 500px) {
  .entry {
    margin: 0 20px 30px 20px;
    
    .title::before {
      display: none;
    }
    
    .title {
      font-size: 23px;
      color: #6002ee;
    }
  }
}
