.entry {
  margin-bottom: 4.79vw;
  // margin-left: 8.7vw;
  color: #000;

  .title::before {
    display: inline-block;
    content: "";
    width: 7px;
    height: 36px;
    background-color: #9a66f5;
    margin-right: 14px;
  }

  .title {
    font-weight: 500;
    font-size: 37px;
    line-height: 1.24;
    margin-bottom: 9px;
  }

  .content {
    font-size: 18px;
    line-height: 1.45;

    strong {
      color: #6002ee;
    }
  }

  & > img {
    max-width: 258px;
  }
}

<<<<<<< HEAD
@media screen and (max-width: 500px) {
  .entry {
    margin: 0 20px 30px 20px;
=======
@media screen and (max-width: 769px) {
  .entry {
    margin-bottom: 10vw;
    // margin-left: 7.2vw;
>>>>>>> 77405a73df7c5eefa47de2d0240f32a30b9e5ae0
    
    .title::before {
      display: none;
    } 
    
    .title {
      font-size: 23px;
      color: #6002ee;
    }
  }
}
