.entry {
  margin-bottom: 80px;
  color: #6002ee;

  .title {
    font-weight: 500;
    font-size: 40px;
    line-height: 1;
    margin-bottom: 9px;
    border-left: 5px solid #9a66f5;
    padding-left: 10px;
  }

  .content {
    font-size: 22px;
    line-height: 1.45;
    color: #000;
  }

  .list{
    color: #fff;
  }

  & > img {
    max-width: 258px;
    margin-left: -16px;
  }
}

@media screen and (max-width: 769px) {
  .entry {
    margin-bottom: 10vw;

    .title {
      font-size: 23px;
      border-left-width: 0px;
      padding-left: 0px;
      line-height: 1.2;
    }

    & > img {
      max-width: 130px;
      margin-left: -10px;
    }
  }
}
