.entry {
  margin-bottom: 4.79vw;
  color: #6002ee;

  .title {
    font-weight: 500;
    font-size: 37px;
    line-height: 1;
    margin-bottom: 9px;
    border-left: 5px solid #9a66f5;
    padding-left: 10px;
  }

  .content {
    font-size: 18px;
    line-height: 1.45;
    color: #000;
  }

  .list{
    color: #fff;
  }

  & > img {
    max-width: 258px;
  }
}

@media screen and (max-width: 769px) {
  .entry {
    margin-bottom: 10vw;

    .title::before {
      display: none;
    }

    .title {
      font-size: 23px;
    }
  }
}
