.title {
  font-size: 5.347vw;
  color: #faf5fa;
  font-weight: normal;
  padding: 18px;
  max-width: 1200px;
  margin: 3.29vw auto 0;
}

@media screen and (max-width: 576px) {
  .title {
    margin-top: 2vw;
    padding: 0px 28px;
  }
}
