@import "../../../css/globalVar.scss";

.title {
  margin:3.5vw auto 0;
  //margin-left: 1vw;
  font-size: 5.347vw;
  padding: 0 20px;
  color: #faf5fa;
  font-weight: normal;
  max-width: $max-width;
}

@media screen and (max-width: 768px) {
  .title {
    display: none;
  }
}
