.title {
  margin-top:3.29vw;
  margin-left: 1vw;
  font-size: 5.347vw;
  color: #faf5fa;
  font-weight: normal;  
}

@media screen and (max-width: 576px) {
  .title {
    padding: 0px 28px;
    margin-top: 1vw;  
  }
}
