.line {
  display: flex;
  align-items: center;
}

.line img {
  width: 16px;
  position: relative;
  z-index: 1;
}

.dot {
  width: 0;
  height: 0;
  border: 1px solid #89A0E7;
  position: relative;
  z-index: 100;
}
