@import "/src/css/util.scss";

$formHeight: 780px;

.wrapper {
  display: flex;
  justify-content: center;
  @include setVerticalMargin(73px);
  color: black;
}

.form {
  width: 55vw;
  height: $formHeight;
  background-color: #fff;
  box-shadow: 0 0 10px 5px rgba(102, 151, 245, 0.2);
  padding: 2.63vw;

  label,
  input,
  textarea,
  button {
    appearance: none;
  }

  h1 {
    font-size: 26px;
    font-weight: 500;
    text-transform: uppercase;
    color: #6002ee;
  }

  label,
  input {
    display: block;
  }

  input,
  textarea {
    width: 100%;
    border: solid 1px #dddfe1;
    border-radius: 0;
    line-height: 20px;
    font-size: 18px;
    @include setHorizontalPadding(14px);
    @include setVerticalPadding(10px);
    background-color: transparent;
    color: black;
  }

  input:focus,
  textarea:focus {
    border-color: #6002ee;
    outline: none;
  }

  input::placeholder,
  textarea::placeholder {
    opacity: 0.5;
  }

  label {
    font-weight: 500;
    font-size: 16px;
    margin-top: 5px;

    span {
      color: red;
    }
  }

  input {
    height: 52px;
  }

  textarea {
    resize: none;
  }

  .errorMsg {
    height: 20px;
    font-size: 13px;
    color: red;
    // visibility: hidden;
    margin-bottom: 0;
  }

  .send {
    width: 162px;
    height: 43px;
    background-color: #6002ee;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-size: 17px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .send[disabled] {
    opacity: 0.5;
    &:hover {
      transform: none;
      animation-name: shaking;
      animation-duration: 100ms;
      animation-timing-function: ease-in-out;
    }
  }

  .send:hover {
    transform: scale(1.03);
  }

  .sending {
    &::after {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-left: 4px;
      border-top: solid 2px white;
      border-radius: 50%;
      animation: load 1s linear infinite;
    }
  }
}

@keyframes shaking {
  0% {
    transform: translateX(-1%);
  }
  100% {
    transform: translateX(1%);
  }
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.contactUs {
  width: 27vw;
  height: $formHeight;
  background-image: linear-gradient(145deg, #7b67f2 35%, #8f40f6 78%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 996px) {
  .form {
    width: 100%;
  }

  .contactUs {
    display: none;
  }
}
