.wrapper {
  padding: 129px 0;
  background-color: #f3f3f3;
}

.title {
  margin-bottom: 80px;
}

.descItem:not(:last-child) {
  padding-bottom: 81px;
}

.descItemImg {
  width: 20px;
}

.descItemTitle {
  font-size: 27px;
  font-weight: 800;
  color: #2E59E0;
  margin-left: 10px;
}

.descItemDesc {
  font-size: 20px;
  font-weight: 500;
  color: #535353;
}

.content {
  display: flex;
  justify-content: center;
}

.architecture {
  position: relative;
  z-index: 10;
  margin-left: -25px;
}

.imgWrap {
  width: 650px;
}

.architecture img {
  width: 100%;
}

.desc {
  padding-top: 76px;
  position: relative;
  z-index: 1;
  padding-left: 130px;
}

@media screen and (max-width: 1200px) {
  .desc {
    display: none;
  }

  .architecture {
    margin-left: 0;
  }
}

@media screen and (max-width: 996px) {
  .desc {
    display: none;
  }

  .architecture {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .imgWrap {
    width: 70%;
    margin: 0 auto;
  }

  .wrapper {
    padding: 0;
  }
}
