.list {
  list-style-type: none;
  color: #000;
  padding-left: 20px;

  a {
    color: #6002ee;
  }

  li::before {
    content: "·";
    display: inline-block;
    margin-left: -10px;
    margin-right: 10px;
  }

  li {
    font-size: 18px;
    font-weight: 300;
  }
}
