.listWrap {
  display: flow-root;
  color: #000;
  margin-top: 18px;
  font-size: 22px;
}

.title {
  margin-bottom: 0px;
}

.title + .list{
  li {
    font-weight: normal;
  }
}
@import "../../css/globalVar";

.list {
  list-style-type: none;
  color: #000;
  padding-left: 20px;

  a {
    color: #6002ee;
  }

  li::before {
    content: "·";
    display: inline-block;
    margin-left: -10px;
    margin-right: 10px;
  }

  li {
    font-size: $pc-general-font-size;
    font-weight: 300;
  }
}

@media screen and (max-width: 750px) {
  .list{
    li{
      font-size: $mobile-general-font-size;
    }
  }
}
