.download {
  
  & span::before {
    transform-origin: center bottom;
    content: "";
    display: block;
    position: absolute;
    inset: 0px;
    background-color: #6002ee;
    pointer-events: none;
    transform: scaleY(0.1);
    transition: transform 120ms cubic-bezier(0.23, 1, 0.32, 1) 0s,
    background-color 120ms cubic-bezier(0.23, 1, 0.32, 1) 0s;
  }
  
  & span:hover::before {
    transform: scaleY(1);
    z-index: -1;
  }
  
  &:hover {
    text-decoration: none;
  }
  
  & > span {
    font-size: 22px;
    color: #6002ee;
    transition: color 120ms cubic-bezier(0.23, 1, 0.32, 1) 0s;
    position: relative;
  }

  & > span:hover {
    text-decoration: none;
    color: #fff;
    z-index: 1;
  }

}
