/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

/*
* Fix selected text background color on dark mode.
*/
.homepageWrapper *::selection {
  background-color: rgb(175, 201, 250) !important;
}

.homepageWrapper * {
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 400;
}
