.wrapper {
  position: relative;
}

.wavePic{
  width: 100%;
  margin-bottom: 126px;
}

.title {
  margin-bottom: 60px;
}

.workflowImage img {
  width: 405px;
}

.workflow {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

.separator {
  margin-top: 0px;
  margin-left: 140px;
  margin-right: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  justify-content: flex-start;
}

.workflow li {
  list-style: none;
}

@media screen and (max-width: 996px) {
  .separator, .workflowText {
    display: none;
  }
  .workflow {
    padding: 0 var(--ifm-spacing-horizontal);
  }
}

.workflowSteps {
  padding: 0;
  padding-top: 40px;
}

.step {
  display: flex;
  width: 540px;
}

.stepIcon img {
  width: 40px;
}

.stepText {
  flex: 1;
  margin-left: 3px;
}

.stepDesc {
  color: #535353;
  font-weight: 500;
  font-size: 20px;
}

.line {
  width: 0px;
  height: 470px;
  border-style: solid;
  border-color: #b794f6;
  border-width: 1px;
}

.stepsWrap {
  display: flex;
  flex-direction: column;
}

.stepTitle {
  font-size: 27px;
  color: #6002ee;
  width: 100px;
  border-bottom: 2px solid #9a66f5;
  margin-bottom: 10px;
}

.terminal {
  width: 540px;
  height: 384px;
  background-color: #000;
  border-radius: 10px;
  margin-bottom: 78px;
}

.stepWrap .terminal{
  :global(.asciinema-terminal *){
    font-family: sans-serif;
  }
}

@media screen and (max-width: 900px) {

  .workflow{
    display: none;
  }

  .wavePic{
    margin-top: -1px;
  }

  .title{
    display: none;
  }
}
