.wrapper {
  padding: 126px 0;
  background-color: #f3f3f3;
}

.title {
  margin-bottom: 60px;
}

.workflowImage img {
  width: 405px;
}

.workflow {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

.separator {
  margin-left: 58px;
  margin-right: 124px;
  /* padding-top: 41px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.workflow li {
  list-style: none;
}

.workflowText {
  width: 303px;
}

@media screen and (max-width: 996px) {
  .separator, .workflowText {
    display: none;
  }
  .workflow {
    padding: 0 var(--ifm-spacing-horizontal);
  }
}

.workflowSteps {
  padding: 0;
  padding-top: 40px;
}

.step {
  display: flex;
}

.stepIcon img {
  width: 40px;
}

.stepTitle {
  font-size: 27px;
  font-weight: 800;
  color: #2E59E0;
  line-height: 1;
  margin-bottom: 10px;
}

.stepText {
  flex: 1;
  margin-left: 3px;
}

.stepDesc {
  color: #535353;
  font-weight: 500;
  font-size: 20px;
}

.line {
  width: 0px;
  height: 470px;
  border-style: solid;
  border-color: #89a0e7;
  border-width: 1px;
}

.stepsWrap {
  display: flex;
  flex-direction: column;
}

.stepWrap{
  
}

.stepTitle {
  font-size: 27px;
  color: #6002ee;
  width: 92px;
  border-bottom: 2px solid #9a66f5;
}

.terminal {
  width: 394px;
  height: 344px;
  background-color: #000;
  border-radius: 10px;
  margin-bottom: 78px;
}
