.wrapper {
  padding: 126px 0;
  background-color: #f3f3f3;
  position: relative;
  /* the backgorund table */
  background: linear-gradient(90deg,rgba(239, 235, 242, 1) 1px,transparent 0), linear-gradient(rgba(206,214,224,.32) 1px,transparent 0);
  background-size: 30px 30px;
  background-color: rgba(243, 242, 235, 0.1);
}

/* the left mask */
.wrapper:before{
  content: "";
  display: block;
  position: absolute;
  top: -130px;
  width: 290px;
  height: 520px;
  -webkit-filter: blur(200px);
  filter: blur(200px);
  background-image: linear-gradient(180deg, rgba(24, 75, 255, 0) 0%, rgba(23, 74, 255, 0.5) 100%);
}

/* the right mask */
.wrapper:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -130px;
  right: 0;
  width: 305px;
  height: 456px;
  -webkit-filter: blur(200px);
  filter: blur(200px);
  background-image: linear-gradient(to left, rgba(24, 75, 255, 0) 0%, #174aff 100%);;
}

.title {
  margin-bottom: 60px;
}

.workflowImage img {
  width: 405px;
}

.workflow {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

.separator {
  margin-left: 58px;
  margin-right: 124px;
  /* padding-top: 41px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.workflow li {
  list-style: none;
}

.workflowText {
  width: 303px;
}

@media screen and (max-width: 996px) {
  .separator, .workflowText {
    display: none;
  }
  .workflow {
    padding: 0 var(--ifm-spacing-horizontal);
  }
}

.workflowSteps {
  padding: 0;
  padding-top: 40px;
}

.step {
  display: flex;
}

.stepIcon img {
  width: 40px;
}

.stepTitle {
  font-size: 27px;
  font-weight: 800;
  color: #2E59E0;
  line-height: 1;
  margin-bottom: 10px;
}

.stepText {
  flex: 1;
  margin-left: 3px;
}

.stepDesc {
  color: #535353;
  font-weight: 500;
  font-size: 20px;
}

.line {
  width: 0px;
  height: 470px;
  border-style: solid;
  border-color: #89a0e7;
  border-width: 1px;
}

.stepsWrap {
  display: flex;
  flex-direction: column;
}

.stepWrap{
  
}

.stepTitle {
  font-size: 27px;
  color: #6002ee;
  width: 92px;
  border-bottom: 2px solid #9a66f5;
}

.terminal {
  width: 394px;
  height: 344px;
  background-color: #000;
  border-radius: 10px;
  margin-bottom: 78px;
}
