.wrapper {
  width: 100%;
  background-color: #000;
  padding-top: 116px;
  padding-bottom: 71px;
  overflow: hidden;
}

.title {
  margin-bottom: 46px;
  color: #fff;
}

.caption {
  font-size: 22px;
  letter-spacing: -0.24px;
  max-width: 1127px;
  margin: 0 auto;
  line-height: 1.5;
  color: #fff;
  font-weight: 300 !important;
  padding: 0 28px;
}

.compare {
  display: flex;
  align-items: center;
  justify-content: center;
}

.withoutH8r > img,
.withH8r > img {
  width: 493px;
}

.withoutH8r,
.withH8r {
  padding: 0 35px;
}

.imgCaption {
  color: #063ade;
  font-size: 27px;
  margin-bottom: 15px;
  font-weight: bold;
  white-space: nowrap;
}

.layerWrap {
  height: 587.6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layerContain {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  box-shadow: 2px 2px 50px 10px rgba(145, 98, 228, 0.21);
  border: solid 1px #000;

  & > img {
    width: 753px;
  }

  .above {
    position: absolute;
    // width: 100px;
    top: 0;
  }

  .below {
    position: absolute;
    bottom: 0;
  }

  .pole {
    width: 46px;
    height: 372px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: ew-resize;
  }

  .layerImg {
    max-width: 702px;
    background-color: #000;
  }

  .underLayer {
    height: 372px;
  }

  .upperLayer {
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 0;
    line-height: 0;
  }
}

.featuresContain {
  display: flex;
  justify-content: space-around;
}

.featureContain {
  display: flex;
  flex-direction: column;
  width: 216px;
  margin-top: 123px;
}

.featureContain.md {
  display: none;
}

.featureTitle {
  font-size: 35px;
  color: #fff;
  border-bottom-style: solid;
  border-bottom-color: #fff;
  border-bottom-width: 1px;
  text-transform: uppercase;
}

.featureImg {
  margin: 0 auto;
  margin-top: 35px;
  width: 150px;
  height: 150px;
}

.featureDescription {
  font-size: 16px;
  color: #fff;
  margin-top: 30px;
  width: 256px;
}

.wavePic {
  width: 100%;
}

.pictureSliderInMobile {
  display: none;
}

@media screen and (max-width: 1200px) {
  .caption {
    padding: 0 28px;
  }
}

@media screen and (max-width: 1100px) {
  .featuresContain {
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media screen and (max-width: 996px) {
  .pictureSliderInMobile {
    display: block;
  }

  .pictureSlider{
    display: none;
  }

  .compare {
    flex-direction: column;
  }

  .withoutH8r {
    margin-bottom: 30px;
  }

  .featuresContain {
    gap: 160px;
    justify-content: center;
  }

  .featureDescription {
    width: 216px;
  }

  .wrapper {
    padding-top: 0px;
  }
}

@media screen and (max-width: 750px) {
  $slidePictureWidth: 521.2px;
  $slidePictureHeight: 276.7px;

  .layerWrap {
    height: 78.34vw;
  }

  .layerContain {
    height: $slidePictureHeight;
    width: $slidePictureWidth;

    .layerImg {
      max-width: $slidePictureWidth;
    }

    .underLayer {
      height: $slidePictureHeight;
    }

    .pole {
      height: $slidePictureHeight;
      width: 34px;
    }
  }

  .featuresContain {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;

    .featureContain {
      display: none;
      margin-top: 38px;
    }

    .featureContain.md {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: initial;

      img {
        margin: initial;
      }

      .featureContent {
        width: 46.26vw;

        .featureTitle {
          width: 24vw;
          font-size: 4.26vw;
        }

        .featureDescription {
          width: 100%;
        }
      }
    }

    & div:first-child {
      margin-top: 0;
    }
  }
}


@media screen and (max-width: 600px) {
  .imgCaption {
    font-size: 18px;
  }

  .withoutH8r {
    margin-bottom: 20px;
  }

  .wrapper {
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 550px) {
  $slidePictureWidth: 94.763vw;
  $slidePictureHeight: 50.3vw;

  .caption {
    line-height: 1.5;
    padding: 16px;
    margin-bottom: 50px;
    font-size: 18px;
  }

  .layerContain {
    height: $slidePictureHeight;
    width: $slidePictureWidth;

    .layerImg {
      max-width: $slidePictureWidth;
    }

    .underLayer {
      height: $slidePictureHeight;
    }

    .pole {
      height: $slidePictureHeight;
      width: initial;
    }
  }

}

@media screen and (max-width: 400px) {
  .featuresContain {
    .featureContain.md {
      img {
        width: 37.5vw;
        height: 37.5vw;
      }

      .featureContent {
        .featureTitle {
          font-size: 16.9548px;
        }
      }
    }
  }
}
