.wrapper {
  width: 100%;
  background-color: #f3f3f3;
  padding-bottom: 96px;
}

.title {
  margin-bottom: 41px;
}

.caption {
  font-size: 18px;
  letter-spacing: -0.24px;
  max-width: 1083px;
  margin: 0 auto;
  margin-bottom: 39px;
  line-height: 37px;
  color: #080930;
}

.compare {
  display: flex;
  align-items: center;
  justify-content: center;
}

.withoutH8r > img, .withH8r > img {
  width: 493px;
}

.withoutH8r, .withH8r {
  padding: 0 35px;
}

.imgCaption {
  color: #063ade;
  font-size: 27px;
  margin-bottom: 15px;
  font-weight: bold;
  white-space: nowrap;
}

@media screen and (max-width: 996px) {
  .compare {
    flex-direction: column;
  }

  .withoutH8r {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 600px) {
  .imgCaption {
    font-size: 18px;
  }

  .withoutH8r {
    margin-bottom: 20px;
  }
}
