.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0;

  background-image: url('/static/img/homepage/features-wide-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1700px) {
  .wrapper {
    background-image: url('/static/img/homepage/features-bg.png');
  }
}

@media screen and (min-width: 2550px) {
  .wrapper {
    background-image: url('/static/img/homepage/features-extra-wide-bg.png');
  }
}

.item {
  background-color: #fff;
  padding: 50px;

  width: 511px;
  height: 476px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.item:not(:last-child) {
  margin-right: 126px;
}

.item > img {
  margin-bottom: 33px;
  width: 65%;
}

.item > h3 {
  font-size: 27px;
}

.item > p {
  color: #919191;
}

.row {
  display: flex;
}

.row:not(:last-child) {
  margin-bottom: 37px;
}
