.wrapper {
  width: 100%;
  background-color: #161c21;
  position: relative;
  /* height: 714px; */
}

.wrap {
  position: absolute;
  top: 193px;
  z-index: 100;
}

.navbar {
  padding-top: 32px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logoWrap {
  display: flex;
  align-items: center;
}

.navItems {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.navItems li {
  list-style: none;
}

.navItems li:not(:last-child) {
  margin-right: 38px;
}

.navItems li a {
  color: #fff;
}

.sloganTextWrap {
  color: #fff;
  margin-bottom: 113px;
}

.sloganTextWrap > h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 140%;
  margin-bottom: 0;
}

.sloganTextWrap > h1 > em {
  color: #A5FFDB;
  font-style: normal;
}

.requestAccess {
  width: 233px;
  height: 60px;

  background-color: rgba(195, 210, 243, 0.13);
  border-radius: 0;
  color: #C6E7E8;
  font-weight: 800;
  font-size: 18px;

  border: none;
  outline: none;
  cursor: pointer;
}

.quickstart {
  border-radius: 0;
  background-color: #A5FFDB !important;
  color: #123B53 !important;
  width: 233px;
  height: 60px;
  margin-left: 84px;
  line-height: 2.25;
  border: none;
  outline: none;
}

.quickstart :hover {
  border: none;
  outline: none;
}

.actionsGroup {
  display: flex;
}

.waveBottom {
  /* min-height: 149px; */
  position: absolute;
  z-index: 10;
  bottom: -2px;
  background-color: transparent;
  width: 100%;
  display: block;
  left: 0;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.backgroundMask > img {
  width: 100%;
  height: 714px;
}
