.wrapper {
  width: 100%;
  background-color: #000;
  position: relative;
  height: 790px;

  background-image: url("/static/img/homepage/slogan-bg.webp");
  background-repeat: no-repeat;
  background-position: -1000px center;

  & {
    @media screen and (min-width: 996px) {
      background-position: -800px center;
    }
    @media screen and (min-width: 1500px) {
      background-position: -600px center;
    }
    @media screen and (min-width: 2000px) {
      background-position: -400px center;
    }
    @media screen and (min-width: 2700px) {
      background-position: center;
    }
  }

  h1,
  h2,
  h3 {
    color: #fff;
  }
}

.verticallyFullOfScreen {
  width: 100vw;
  margin-left: calc(var(--ifm-spacing-horizontal) * -1);
}

.contentWrap {
  display: flex;
  width: 100%;
  padding-top: 160px;
  top: 100px;
  align-items: flex-start;
  justify-content: space-between;
}

.wrap {
  position: relative;
  z-index: 100;
}

.video {
  width: 600px;
  height: 300px;
  position: relative;
  margin-left: 50px;
  margin-top: 28px;
}

.sloganTextWrap {
  color: #fff;
  margin-bottom: 70px;
}

.sloganTextWrap > h1 {
  font-size: 54px;
  line-height: 140%;
  margin-bottom: 0;
  white-space: nowrap;
}

.sloganTextWrap > h1:nth-child(1) {
  font-size: 60px;
}

.sloganTextWrap > h1 > em {
  color: #a5ffdb;
  font-style: normal;
}

.autoDownCounterText {
  display: inline-block;
}

@keyframes zoominout {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.08, 1.08);
  }
  100% {
    transform: scale(1, 1);
  }
}

.zeroEffect {
  background: linear-gradient(207deg, #b794f6 1%, #CE5BA9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.requestAccess {
  width: 233px;
  height: 60px;

  background-color: #262e40;
  border-radius: 0;
  color: #fff;
  font-size: 18px;

  border: none;
  outline: none;

  margin-right: 79.8px;
  line-height: 2;

  $buttonVerticalPadding: calc(
    var(--ifm-button-padding-vertical) * var(--ifm-button-size-multiplier)
  );
  padding: $buttonVerticalPadding 0;

  &:hover {
    background-color: #191e2a;
    color: #fff;
  }
}

.quickstart {
  border-radius: 0;
  background-color: #b794f6 !important;
  color: #080930 !important;
  width: 233px;
  height: 60px;
  line-height: 2.3;
  border: none;
  outline: none;
  font-size: 18px;

  &:hover {
    background-color: #a687de !important;
    border: none;
    outline: none;
  }
}

.actionsGroup {
  display: flex;
}

.waveBottom {
  position: absolute;
  z-index: 10;
  bottom: -1px;
  background-color: transparent;
  width: 100%;
  display: block;
  left: 0;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #00000099;
}

.backgroundMask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 790px;
  background-color: #000;
  opacity: 0.5;
}

@media screen and (max-width: 996px) {
  .verticallyFullOfScreen {
    width: 100vw;
    margin-left: calc(var(--ifm-spacing-horizontal) * -1);
  }

  .wrapper {
    height: 990px;
  }

  .contentWrap {
    flex-direction: column;
    gap: 105.2px;
    align-items: center;
  }

  .quickstart,
  .requestAccess {
    font-size: 15px;
    width: 173px;
    height: 45px;
  }

  .sloganTextWrap {
    margin-bottom: 44px;
  }

  .sloganTextWrap > h1 {
    font-size: 45px;
  }

  .sloganTextWrap > h1:nth-child(1) {
    font-size: 54px;
  }

  .quickstart {
    line-height: 1.9;
    /* margin-left: 63px; */
  }

  .actionsGroup {
    width: 100%;
    justify-content: center;
  }
}

@media screen and(max-width: 750px) {
  .contentWrap {
    justify-content: center;
  }

  .video {
    margin-left: 0;
  }
}

@keyframes slide-in {
  0% {
    left: -100vw;
  }
  100% {
    left: 0vw;
  }
}

@keyframes slide-out {
  0% {
    left: 0vw;
  }
  100% {
    left: -100vw;
  }
}

@media screen and (max-width: 600px) {
  .contentWrap {
    justify-content: center;
    margin-left: 0;
  }

  .navItems li:not(:last-child) {
    margin-right: 15px;
  }

  .actionsGroup {
    flex-direction: column;
    justify-content: center;
  }

  .quickstart {
    margin-left: 0;
  }

  .requestAccess {
    margin-bottom: 20px;
  }

  .requestAccess,
  .quickstart {
    width: 100%;
  }

  .requestAccess {
    margin-left: 0px;
  }

  .sloganTextWrap h1 {
    font-size: 30px;
  }

  .sloganTextWrap > h1:nth-child(1) {
    font-size: 36px;
  }

  .wrap {
    width: 100%;
  }

  .video{
    width: 100%;
    height: auto;
  }

  .wrapper{
    height: calc(670px + 50vw);
  }
}
