.title {
  color: #080930;
}

.wrapper {
  position: relative;
  margin-top: 62px;
}

.topRightCubes {
  position: absolute;
  width: 321.4px;
  height: 326.3px;
  right: 65px;
  top: -173px;
}

.downLeftCubes {
  width: 331px;
  height: 331px;
  position: absolute;
  bottom: -225px;
}

.stacksWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  max-width: 1110px;
  margin: 48px auto auto;
}

.middleCubes {
  width: 114px;
  height: 121px;
  position: absolute;
  left: 637px;
  top: 0px;
}

.stackWrap {
  width: calc(40vw);
  height: calc(40vw);
  max-width: 494px;
  max-height: 333px;
  margin: 30px;
  opacity: 0.82;
  background-color: #fff;
  position: relative;
  border-left: 3px solid #9a66f5;
}

.decoratedIcon {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 27px;
  top: 56px;
}

.stackName {
  font-size: 50px;
  font-weight: 300 !important;
  color: #1b2637;
  position: absolute;
  left: 32px;
  top: 54px;
}

.frameworkIcon {
  width: 67px;
  height: 67px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  top: 224px;
}

.iconAndLink {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: absolute;
  bottom: 30px;
  width: 100%;
  padding: 0 20px;
  padding: 0 20px;
}

.iconWrapper {
  display: flex;
  justify-content: flex-start;
  margin-right: 20px;

}

.firstIcon {
  margin-right: 20px;
}

.link {
  font-size: 22px;
  white-space: nowrap;

  & span::before {
    transform-origin: center bottom;
    content: "";
    display: block;
    position: absolute;
    inset: 0px;
    background-color: #6002ee;
    pointer-events: none;
    transform: scaleY(0.1);
    transition: transform 120ms cubic-bezier(0.23, 1, 0.32, 1) 0s,
    background 120ms cubic-bezier(0.23, 1, 0.32, 1) 0s;
  }

  & span:hover::before {
    transform: scaleY(1);
    z-index: -1;
  }

  &:hover {
    text-decoration: none;
  }

  & > span {
    font-weight: 500 !important;
    color: #6002ee;
    transition: color 120ms cubic-bezier(0.23, 1, 0.32, 1) 0s;
    position: relative;
  }

  & > span:hover {
    text-decoration: none;
    color: #fff;
  }

  & img {
    width: 13px;
    margin-left: 8px;
  }
}

@media screen and (max-width: 1000px) {
  .stackWrap {
    margin: 10px;
    max-width: 1000px;
    width: calc(46vw);
  }

  .link {
    font-size: 16px;
  }

  .frameworkIcon {
    width: 6vw;
    height: 6vw;
  }

  .stackName {
    font-size: 6vw;
  }

  .iconWrapper {
    margin-right: 10px;
  }

  .link {
    font-size: 2.3vw;
  }

  .firstIcon {
    margin-right: 10px;
  }
}

@media screen and (max-width: 500px) {
  .stackWrap {
    width: 100%;
    height: 110px;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .stackName {
    top: 20px;
    left: 20px;
  }

  .decoratedIcon {
    top: 20px;
    left: 20px;
  }

  .frameworkIcon {
    width: 30px;
    height: 30px;
  }

  .iconAndLink {
    bottom: 10px;
  }
}
