/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #6006EE;
  --ifm-color-primary-dark: #5100e8;
  --ifm-color-primary-darker: #3b00e0;
  --ifm-color-primary-darkest: #0000d6;
  --ifm-color-primary-light: #9866f4;
  --ifm-color-primary-lighter: #d4bff9;
  --ifm-color-primary-lightest: #efe5fd;
  --ifm-code-font-size: 95%;
  --ifm-font-family-base: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  --ifm-font-family-title: "Jost";
  --ifm-font-family-monospace: Monaco, Menlo, Consolas, "Courier New", monospace;
  --ifm-heading-color: rgb(96, 6, 238);
  --ifm-global-radius: 0;
  --ifm-footer-link-hover-color: var(--ifm-color-primary-light);
  --ifm-h2-font-size: 2rem;
}

@font-face {
  font-family: 'Jost';
  src: url("/static/fonts/Jost-Light.ttf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Jost';
  src: url("/static/fonts/Jost-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Jost';
  src: url("/static/fonts/Jost-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}

h1,
h2,
h3 {
  font-family: var(--ifm-font-family-title);
}

h2 {
  font-weight: 700;
  line-height: 32px;
}

.menu__link {
  font-family: var(--ifm-font-family-title);
  font-weight: bold;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #A079DF;
  --ifm-heading-color: var(--ifm-color-primary);
  --ifm-color-primary-dark: #8a5ad7;
  --ifm-color-primary-darker: #753dcd;
  --ifm-color-primary-darkest: #6b37c7;
  --ifm-color-primary-light: #bba1e8;
  --ifm-color-primary-lighter: #d6c6f1;
  --ifm-color-primary-lightest: #efe8f9;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.markdown {
  & > h2 {
    --ifm-h2-font-size: 1.5rem;
    --ifm-h2-vertical-rhythm-top: 2;
  }

  & > h3 {
    --ifm-h3-font-size: 1.1875rem;
    --ifm-h3-vertical-rhythm-top: 3;
  }

  & > h2 + h3 {
    --ifm-h3-vertical-rhythm-top: 2;
  }

  li {
    font-size: 18px;
  }

  img {
    display: block;
    margin: auto;
    width: 100%;
  }
}


h1[class^="h1Heading"] {
  margin-bottom: 3rem;
}

.navbar__toggle {
  filter: brightness(19);
}
