$arrow-bg: var(--ifm-menu-link-sublist-icon) 50% / 1.25rem 2rem;

:root {
  --ifm-menu-link-sublist-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24"><path fill="rgba(0,0,0,0.9)" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path></svg>');
}

.menu__link {
  font-family: var(--ifm-font-family-title);
  font-weight: normal;
  border-radius: 0;

  &::after {
    background: $arrow-bg;
  }
}

.menu__caret {
  &::before {
    background: $arrow-bg;
  }
}
