.wrapper {
  width: 100%;
  background-color: #f3f3f3;
  padding-top: 43px;
}

.title {
  margin-bottom: 44px;
}

.detail {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 121px;
}

.content {
  width: 813px;
}

.videoControlBar {
  background-color: #080930 !important;
  font-family: 'Maven Pro', sans-serif;
}

@media screen and (max-width: 996px) {
  .content {
    width: 570px;
  }
}

@media screen and (max-width: 600px) {
  .content {
    width: 100%;
  }

  .detail {
    padding-bottom: 51px;
  }
}
