.outerWrap {
  padding-top: 43px;
  background-color: #171F24;
  color: #f5f5f5;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;

  position: relative;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 100;
}

.wrapper a {
  color: #c4c4c4;
  line-height: 52px;
  font-size: 18px;
  display: inline-block;
  white-space: nowrap;
}

.wrapper ul {
  margin: 0;
  padding: 0;
}

.logo {
  padding-top: 18px;
  min-width: 100px;
}

.logo > img {
  width: 54px;
}

.linksWrap {
  flex: 1;
  display: flex;
}

.linksWrap li {
  list-style: none;
  color: #f5f5f5;
  width: 240px;
}

.links {
  display: flex;
  width: 100%;
  min-width: 100%;
  justify-content: flex-end;
}

.title {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  line-height: 62.4px;
}

.copyright {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.footerBg {
  position: absolute;
  left: 0;
  bottom: 0;
}

@media screen and (max-width: 996px) {
  .title {
    width: 100%;
  }
  .links > li {
    width: 25%;
  }
  .linkItem {
    width: 100% !important;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    display: flex;
    justify-content: center;
  }

  .links {
    flex-direction: column;
  }

  .links > li {
    width: 100%;
    text-align: center;
  }

  .title {
    text-align: center;
  }

  .linksWrap li {
    width: 100%;
  }
}
