.outerWrap {
  padding-top: 35px;
  background-color: #171F24;
  color: #f5f5f5;
  position: relative;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 100;
}

.wrapper a {
  color: #c4c4c4;
  line-height: 52px;
  font-size: 18px;
  display: inline-block;
  white-space: nowrap;
}

.wrapper ul {
  margin: 0;
  padding: 0;
}

.logo {
  min-width: 100px;
  margin:0 30px;
  margin-bottom: 30px;
}

.logoWrap {
  margin: 0 auto;
}

.logoWrap img{
  width: 36px;
  margin-right: 10px;
}

.linksWrap {
  flex: 1;
  display: flex;
  margin-right: -90px;
}

.linksWrap li {
  list-style: none;
  width: 205px;
  color: #FFFFFF;
  font-size: 12px;
}

.linksWrap li a{
  font-size: 12px;
  color: #fff;
  line-height: 46px;
}

.links {
  display: flex;
  width: 100%;
  min-width: 100%;
  justify-content: flex-end;
}

.title {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  line-height: 21px;
  margin-bottom: 15px;
  color: #FFFFFF;
}

.copyright {
  text-align: center;
  padding-bottom: 20px;
  font-size: 11px;
}

.footerBg {
  position: absolute;
  left: 0;
  bottom: 0;
}

@media screen and (max-width: 996px) {
  .title {
    width: 100%;
  }
  .links > li {
    width: 25%;
  }
  .linkItem {
    width: 100% !important;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    display: flex;
    justify-content: center;
  }

  .links {
    flex-direction: column;
  }

  .links > li {
    width: 100%;
    text-align: center;
  }

  .title {
    text-align: center;
  }

  .linksWrap{
    margin-right: 0px;
  }

  .linksWrap li {
    width: 100%;
  }
}
