.cardWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 179px;
}

.card {
  width: 539px;
  position: relative;
  margin: 0 39px;
  background: linear-gradient(180deg, #FFFFFF 12.5%, #FAFAFE 68.75%, #EFEDF3 99.99%, #E5E2E9 100%);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.card .logoWrapper {
  width: 205px;
  height: 205px;
  position: absolute;
  left: 50%;
  top: 0px;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #fff;
}

.card .logoWrapper .leftLogo {
  width: 142px;
}

.card .logoWrapper .rightLogo {
  width: 133px;
}

.quoteIcon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 155px;
  left: 57px;
}

.card .desc {
  flex-grow: 0;
  font-family: Jost;
  font-size: 23px;
  line-height: 1.5;
  font-weight: 300;
  color: #080930;
  margin: 209px 60px 0 57px;
}

.card .introduce {
  display: flex;
  margin-top: 82px;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 70px;
}

.card .introduce .personPhoto {
  max-width: 188px;
  margin-left: 30px;
  flex-shrink: 1;
}

.card .introduce .personDesc {
  flex-shrink: 1;
  max-width: 225px;
  margin-left: -30px;
}

.card .introduce .personDesc .personName {
  font-size: 29px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.24px;
  text-align: left;
  color: #000;
}

.card .introduce .personDesc .personTitle {
  margin-top: 6.5px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.24px;
  text-align: left;
  color: #000;
}

@media screen and (max-width: 996px) {

  .cardWrapper {
    flex-wrap: wrap;
  }

  .cardWrapper > .card:last-child {
    margin-top: 130px;
  }
}

@media screen and (max-width: 600px) {

  .card .introduce .personPhoto {
    max-width: 130px;
  }

  .card .desc > div {
    font-size: 22px;
    line-height: 22px;
  }

  .card .introduce .personDesc .personName {
    font-size: 18px;
  }

  .card .introduce .personDesc .personTitle {
    font-size: 12px;
  }
}










