@import "../../css/globalVar.scss";

.pageWrapper {
  background: #fff;

  * {
    font-family: "Jost", sans-serif;
    font-style: normal;
    font-weight: 400;
  }
}

.children{
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 20px;
}
