.title {
  font-weight: 300 !important;
  font-size: 48px;
  line-height: 1.5;
  text-align: center;
  color: #000;
  margin-top: 155px;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  padding-bottom: 216px;
}

.icon:hover{
  box-shadow: 0px 0px 15px rgba(66, 26, 86, 0.24);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 16px;
  margin: 0 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.icon > img {
  width: 40px;
}

.icon:hover {
  overflow: visible;
}

.qrcodeWrapper {
  position: absolute;
  top: 80px;
  padding: 5px;
  box-shadow: 0 5px 20px 0 rgb(0 0 0 / 10%);
  border-radius: 2px;
  width: 150px;
  background-color: #fff;
}

/* the triangle */
.qrcodeWrapper:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  border-top: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
}

.icon > .qrcodeWrapper > img {
  width: 100%;
  display: block;
}
